<!DOCTYPE HTML>
<html lang="<%= @item[:lang] || "en" %>">
  <head>
    <meta charset="utf-8">
    <title>okuramasafumi.com - <%= @item[:title] %></title>
    <meta name="description" content="<%= @item[:description] || "okuramasafumi.com" %>">

    <meta property="og:title" content="okuramasafumi.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=<%= @item[:url] || 'https://okuramasafumi.com' %> />
    <meta property="og:image" content="./content/android-chrome-512x512.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./simple.min.css">
    <link rel="stylesheet" href="./stylesheet.css">

    <link rel="icon" type="image/svg=xml" href="./favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="manifest" href="./site.webmanifest">
    <meta name="theme-color" content="#ffffff">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

    <!-- For Google search results -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "dateCreated": "2025-12-04",
        "dateModified": "2025-12-04",
        "mainEntity": {
          "@id": "#okuramasafumi",
          "@type": "Person",
          "name": "OKURA Masafumi",
          "alternateName": "okuramasafumi",
          "image": "https://okuramasafumi.com/content/android-chrome-512x512.png"
        }
      }
    </script>
  </head>
  <body>
    <header style="position: sticky;top: 0;">
      <h2>okuramasafumi.com</h2>
      <a href="#about">About</a>
      <a href="#work">Work</a>
      <a href="#links">Links</a>
      <a href="#supporting">Supporting</a>
      <a href="#contact">Contact</a>
      <a href="index.html">English</a>
      <a href="ja.html">日本語</a>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <small>
        This website is powered by <a href="https://nanoc.app" target="_blank" rel="noreferrer">Nanoc</a>, <a href="https://simplecss.org/" target="_blank" rel="noreferrer">Simple.css</a> and <a href="https://pages.cloudflare.com" target="_blank" rel="noreferrer">Cloudflare Pages</a>. Proudly written with Vim :)
      </small>
      <br />
      <small>© OKURA Masafumi. The content of this website is licensed under <a href="https://spdx.org/licenses/GPL-3.0-or-later.html" target="_blank" rel="noreferrer">GNU General Public License v3.0</a>.</small>
      <br />
      <small>You can get the source code on <a href="https://github.com/okuramasafumi/okuramasafumi.com" target="_blank" rel="noreferrer">GitHub</a>.</small>
    </footer>
  </body>
</html>
